<div class="container contact">
  <h3 style="text-align: center;">Cadastro de Usuários</h3>
  <div class="row">
    <form class="col s12" #form="ngForm" (submit)="onSubmit()">
      <div class="input-field col s12">
        <input
          id="input-name"
          name="input-name"
          type="text"
          class="validate"
          [(ngModel)]="this.user.name"
          pattern="^(\s?[A-ZÀ-Ú][a-zà-ú]*)+(\s[a-zà-ú]*)?(\s[A-ZÀ-Ú][a-zà-ú]*)+"
          #name="ngModel"
          required
        />
        <label for="input-name" class="active">Nome *</label>
        <div class="red-text" [hidden]="name.valid || name.untouched">
          Por favor, informe o seu nome completo.
        </div>
        <span
          class="helper-text"
          data-error="O campo é inválido"
          data-success="Ok!"
        ></span>
      </div>

      <div class="input-field col s12">
        <input
          id="input-username"
          name="input-username"
          type="text"
          class="validate"
          [(ngModel)]="this.user.username"
          #username="ngModel"
        />
        <label for="input-username" class="active">E-mail *</label>
      </div>

      <div class="input-field col s12 l6">
        <input
          id="input-password"
          name="input-password"
          type="password"
          class="validate"
          [(ngModel)]="this.user.password"
          pattern="^[a-zA-Z0-9_@#\\&\\$]{6,18}$"
          #password="ngModel"
          required
        />
        <label for="input-password" class="active">Senha *</label>
        <div class="red-text" [hidden]="password.valid || password.untouched">
          Por favor, informe a sua senha com pelo menos 6 caracteres!
        </div>
      </div>

      <div class="input-field col s12 l6">
        <input
          id="input-user-repassword"
          name="input-user-repassword"
          type="password"
          class="validate"
          [(ngModel)]="this.userRepassword"
          #repassword="ngModel"
          pattern="{{ password.value }}"
          required
        />
        <label for="input-user-repassword" class="active">Confirmação de senha *</label>
        <div
          class="red-text"
          [hidden]="repassword.valid || repassword.untouched"
        >
          Por favor, repita a sua senha.
        </div>
      </div>

      <button
        class="btn waves-effect waves-light amber darken-4"
        type="submit"
        [disabled]="!form.valid"
      >
        Cadastrar
      </button>
    </form>
  </div>
</div>
