<!-- menu -->
<div class="navbar-fixed" style="z-index: 1001 !important">
  <nav>
    <div class="nav-wrapper">
      <div class="container hide-on-med-and-down">
        <a routerLink="/home" class="brand-logo" >
          <img class="my-logo" src="assets/resources/images/logo.png" />
        </a>
        <div class="right">
          <a routerLink="/list" >
            <img class="my-logo" src="assets/resources/images/list.png" />
          </a>
          <a routerLink="/settings" style="margin-left: 16px">
            <img class="my-logo" src="assets/resources/images/settings.png" />
          </a>
        </div>
      </div>

      <div class="container hide-on-large-only">
        <a routerLink="/list" class="left">
          <img class="my-logo" src="assets/resources/images/list.png" />
        </a>
        <a routerLink="/home" class="brand-logo">
          <img class="my-logo" src="assets/resources/images/logo.png" />
        </a>
        <a routerLink="/settings" class="right" style="margin-left: 16px">
          <img class="my-logo" src="assets/resources/images/settings.png" />
        </a>
      </div>
    </div>
  </nav>

</div>
<!-- fim menu -->
